.App {
  height: 100vh;
  text-align: center;
}

.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #91BAD6;
}

.App main h1, .App main h2 {
  color: #192841;
}

.App main h1 {
  margin: 48px 0;
}

.App main h2 {
  margin-bottom: 36px;
}

.App main section {
  width: 800px;
  color: #192841;
}

.App main p.error {
  color: #702963;
  font-weight: 600;
}

.App main > p.error {
  margin-top: 48px;
}
